<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<%= request.original_url %>

<a href="https://twitter.com/intent/tweet?button_hashtag=OmniAuthTwitter&text=Enjoy%20my%20tweets%20from%20my%20RoR4%20app!!!" class="twitter-hashtag-button" data-related="mrgomez77: My OmniAuthTwitter App" data-url="https://github.com/michelegozzi/OmniAuthTest01">Tweet #OmniAuthTwitter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
